annotated-types==0.7.0
anyio==3.7.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
fastapi==0.104.1
gunicorn==21.2.0
h11==0.14.0
idna==3.10
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
-e git+ssh://git@github.com/wendulem/distributed-print-shops.git@beb84297f0e86745c513b03bc6def6e67d461b73#egg=print_shop_network
pydantic==2.5.2
pydantic_core==2.14.5
pytest==8.3.3
pytest-asyncio==0.24.0
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
sniffio==1.3.1
starlette==0.27.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.24.0
